.winbox.winbox-ios-anim {
    will-change: transform, opacity, border-radius;
    pointer-events: none;
    overflow: hidden !important;
    border-radius: 15px !important;
    clip-path: inset(0 round 15px);

    .wb-header {
        border-radius: 15px 15px 0 0 !important;
        overflow: hidden;
    }

    .wb-body {
        border-radius: 0 0 15px 15px !important;
        overflow: hidden;
    }
}

.winbox.winbox-ios-closing {
    z-index: 99999 !important;
}

.winbox{
    border-radius: 15px;
    overflow: hidden;
    transition: width 0.28s, height 0.28s, left 0.28s, top 0.28s;
    .wb-body{
        border-radius: 0 0 15px 15px;
    }
}

.winbox.macos{
    .wb-header{
        background: #edf2fa;
        color: #333;
        font-size: 14px;
        line-height: 1.5;
        padding: 0 14px;
        border-bottom: 1px solid #e8e8e8;
        border-radius: 15px 15px 0 0;
        position: relative;
        .wb-control{
            position: absolute;
            left: 14px;
            top: 0;
            font-size: 13px;
            display: flex;
            align-items: center;
            z-index: 2;
            gap: 8px;
            .wb-close,
            .wb-max,
            .wb-min{
                width: 15px;
                height: 15px;
                display: flex;
                align-items: center;
                justify-content: center;
                cursor: pointer;
                border-radius: 50%;
                padding: 2px;
                color: #fff;
                svg{
                    opacity: 0;
                    transition: all 0.2s ease;
                }
              
            }
            &:hover{
                svg{
                    opacity: 1;
                }
            }
        }
        .wb-title{
            text-align: center;
            height: 100%;
            line-height: 35px;
            cursor: default;
        }
        .wb-header-slot{
            position: absolute;
            right: 0;
            top: 0;
            width: 100%;
            height: 100%;
            z-index: 1;
            cursor: default;
        }
        .wb-icon{
            display: none !important;
        }
    }
}

.winbox.max{
    border-radius: 0;
    .wb-header{
        border-radius: 0;
    }
    .wb-body{
        border-radius: 0;
    }
}

.winbox.dock-minimized {
    z-index: 10 !important;
    overflow: hidden;
    aspect-ratio: 1/1 !important;
    height: auto !important;
    box-shadow: none;
    border-radius: none;
    border-radius: 12px !important;
    background: #c3cddb;

    .wb-header {
        height: 100%;
        border-radius: 12px !important;
        padding: 0;
        background: #c3cddb;
        border: 1px solid rgba(255, 255, 255, 0.25);
       
        .wb-control{
            display: none;
        }
        .wb-drag{
            padding-left: 0;
            .wb-title{
                display: none;
            }
            .wb-icon{
                display: block !important;
                width: 100%;
                height: 100%;
                background: none;
                margin: 0;
                padding: 3px;
                img{
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }
                
                &:hover {
                    box-shadow: 0 16px 36px rgba(0, 0, 0, 0.28);
                    cursor: pointer !important;
                }
            }
        }
        .wb-header-slot{
            display: none;
        }
    }

    .wb-title {
        opacity: 0;
    }
    .wb-body{
        background: #c3cddb;
    }
  
   
}